# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Build outputs
dist/
build/
.cache/
.next/
out/
coverage/

# TypeScript
*.tsbuildinfo

# Environment variables
.env.keys

# OS files
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/
*.swp

# Optional npm cache
.npm/

# Logs from vercel/Netlify
.vercel/
.netlify/

# Serverless
.serverless/
